
* {
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #CE2829;
    display: flex;
    align-items: center;
}

header img {
    height: 50px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF7F2;
}

.product-info img {
    width: 33%;
    display: block;
}

.path {
    font-size: 16px;
    color: #5F5F5F;
    margin-top: 1.5rem;
    font-weight: 500;
}

.path span {
    color: #CE2829;
}

.product-info-text {
    width: 33%;
}

.product-info-text h3 {
    color: #292929;
    font-size: 22px;
    font-weight: 600;
    margin: 1.5rem 0;
}

.product-info-text:last-child {
    margin: 25px 0;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price h4 {
    font-size: 28px;
    font-weight: 700;
    flex: 2;
}

.price div {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.product-body {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.form-wrapper {
    width: 33%;
}

.size-dough-selection {
    display: flex;
}

.size-selection {
    flex: 1;
}

.dough-selection {
    flex: 1;
}

.size-selection-radios {
    display: flex;
    gap: 5px;
}

